<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/landing_1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/mobile_lending.css') }}" media="screen and (orientation: portrait)">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/reset.css') }}">
    <title>{{ subdomain }}</title>
</head>
<body>
    <header class="header">
        <nav class="navbar" id="navbar">
            <h1>Fly vpn</h1>
            <!-- adaptive -->
            <button class="burger-menu"><img src="{{ url_for('static', path='/img/icons/burger-menu.svg') }}" alt="burger-menu"></button>
             <!-- adaptive -->
            <ul class="nav_items">
                <li><a href="#navbar">Главная</a></li>
                <li><a href="#advantages">Почему именно мы?</a></li>
                <li><a href="#guide">Как установить</a></li>
            </ul>
            <button class="download_btn">Установить</button>
        </nav>
        <section class="header_content">
            <div class="left-hd_container">
                <h2>Скорость и свобода в одном VPN</h2>
                <p>Оцените нашу мощь с бесплатной пробной подпиской!</p>
                <div class="buttons-hd_container">
                    <button class="btn_download">Установить</button>
                    <button class="btn_try">Попробовать</button>
                </div>
            </div>
            <div class="speedometer">
                <div class="needle" id="needle"></div>
                <div class="speed" id="speed">
                    <h2>0</h2>
                    <h3>Мбит/с</h3>
                </div>
            </div>
        </section>
    </header>
    <main class="main">
        <section class="advantages" id="advantages">
            <h2>Быстрый, безопасный и доступный VPN для всех ваших нужд.</h2>
              <ul class="advantages_container">
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/Lightning.png" alt="Lightning">
                    <h2>Молниеносная скорость</h2>
                    <p>Минимальная задержка и высокая скорость.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/Cardholder.png" alt="Cardholder">
                    <h2>Выгодная цена</h2>
                    <p>Максимальная защита по выгодной стоимости.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/LockKey.png" alt="LockKey">
                    <h2>Надежная защита</h2>
                    <p>Используем передовые методы шифрования.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/ShieldCheck.png" alt="ShieldCheck">
                    <h2>Без ограничений</h2>
                    <p>Полная свобода без лимитов.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/Code.png" alt="Code">
                    <h2>Прозрачный код</h2>
                    <p>Используем октрытый исходный код без скрытых функций.</p>
                </li>
                <li>
                    <img src="{{ url_for('static', path='') }}../assets/images/PaperPlaneTilt.png" alt="PaperPlaneTilt">
                    <h2>Легкость</h2>
                    <p>Управляйте через Telegram</p>
                </li>
            </ul>
        </section>
        <section class="global_coverage">
            <div class="global_coverage-text">
                <h2>Глобальное покрытие</h2>
                <h3>Свобода интернета по всему миру</h3>
                <p>С нашим VPN вы получаете доступ к сети из более чем <span>100</span> стран, обеспечивая непрерывное соединение и доступ 
                    к контенту без географических ограничений, где бы 
                    вы ни находились.</p>
            </div>
            <img src="{{ url_for('static', path='') }}../assets/images/earth.png" alt="earth">
        </section>
        <section class="protect">
            <div class="protect-text">
                <h2>Все устройства под защитой</h2>
                <p>Наш VPN совместим с любой операционной системой – Windows, macOS, iOS, Android и Linux. Оставайтесь в безопасности, независимо от того, какое устройство вы используете.</p>
            </div>
            <img src="{{ url_for('static', path='') }}../assets/images/devices.png" alt="devices">
        </section>
        <section class="start_now">
            <h2>Начни сейчас!</h2>
            <h3>Простой старт в три шага</h3>
            <div class="start-now_content">
                <img src="{{ url_for('static', path='') }}../assets/images/tg.png" id="start-now_img" alt="Telegram">
                <div class="start-now_switch">
                    <div class="switch-top_container">
                        <div class="line_1" id="line_1"></div>
                        <h2>Запустите Telegram-бота</h2>
                        <h3>Откройте нашего бота в Telegram.</h3>
                        <button id="change-picture">FlyVpn</button>
                    </div>
                    <div class="switch-bottom_container">
                        <div class="line_2" id="line_2"></div>
                        <h2>Следуйте инструкциям</h2>
                        <h3>Используйте пробный период, почувствуйте свободу и скорость нашего VPN.</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="try_free">
            <div class="add_bg">
                <h2>Испытайте VPN бесплатно</h2>
                <h3>Начните с бесплатного пробного периода на <span>30</span> дней и оцените все преимущества нашего сервиса!</h3>
                <button>Установить vpn</button>
            </div>
        </section>
        <section class="guide" id="guide">
            <h2>молниеносное подключение</h2>
            <h3>Видео инструкция</h3>
            <ul class="dropdown_pictures">
                <li class="for_macos">
                    <img src="{{ url_for('static', path='img/icons/macos.svg') }}" alt="macos">
                    <h2>Для Macos</h2>
                    <button><img src="{{ url_for('static', path='img/icons/close-arrow.svg') }}" alt="arrow"></button>
                </li>
                <img class="image" src="{{ url_for('static', path='img/macos.png') }}" alt="macos">
                <li class="for_windows">
                    <img src="{{ url_for('static', path='img/icons/windows.svg') }}" alt="windows">
                    <h2>Для Windows</h2>
                    <button><img src="{{ url_for('static', path='img/icons/close-arrow.svg') }}" alt="arrow"></button>
                </li>
                <img src="{{ url_for('static', path='img/macos.png') }}" alt="macos">
                <li class="for_ios">
                    <img src="{{ url_for('static', path='img/icons/app-store.svg') }}" alt="app-store">
                    <h2>Для IOS</h2>
                    <button><img src="{{ url_for('static', path='img/icons/close-arrow.svg') }}" alt="arrow"></button>
                </li>
                <img src="{{ url_for('static', path='img/macos.png') }}" alt="macos">
                <li class="for_android">
                    <img src="{{ url_for('static', path='img/icons/google-play.svg') }}" alt="google-play">
                    <h2>Для Android</h2>
                    <button><img src="{{ url_for('static', path='img/icons/close-arrow.svg') }}" alt="arrow"></button>
                </li>
                <img src="{{ url_for('static', path='img/macos.png') }}" alt="macos">
            </ul>
        </section>
    </main>
    <footer class="footer">
        <div class="decor_elements">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <section class="footer-content">
            <div class="footer-info">
                <h2>Fly vpn</h2>
                <ul>
                    <li><a href="#navbar">Главная</a></li>
                    <li><a href="#advantages">Почему именно мы?</a></li>
                    <li><a href="#guide">Как установить</a></li>
                </ul>
                <button>Установить</button>
            </div>
            <h2>© 2024 FlyVpn. Все права защищены</h2>
        </section>
    </footer>

    <script src="{{ url_for('static', path='/scripts/index.js') }}" type="module"></script>
</body>
</html>